.timeline {
  width:100%;
 }
 .timeline .timeline-item {
  position:relative;
  width:50%;
  margin-left:50%;
  padding-bottom:1.5rem;
  padding-left:1.5rem;
  text-align:left
 }
 @media (max-width:575.98px) {
  .timeline .timeline-item {
   width:100%;
   margin-left:0
  }
 }
 .timeline .timeline-item img {
  margin-bottom:1.25rem
 }
 .timeline .timeline-item:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:16px;
  height:16px;
  margin-top:.425rem;
  margin-left:-.5rem;
  border:.0625rem solid $offwhite;
  border-radius:50%
 }
 .timeline .timeline-item:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:-.1875rem;
  width:.0625rem;
  margin-top:1.875rem;
  margin-left:-.0625rem;
  background-color:$offwhite
 }
 .timeline .timeline-item:nth-child(2n+1) {
  margin-left:0;
  padding-right:1.5rem;
  padding-left:0;
  text-align:right;
 }
 @media (max-width:575.98px) {
  .timeline .timeline-item:nth-child(2n+1) {
   padding-right:0;
   padding-left:1.5rem;
   text-align:left
  }
 }
 .timeline .timeline-item:nth-child(2n+1):after,
 .timeline .timeline-item:nth-child(2n+1):before {
  right:0;
  left:auto
 }
 @media (max-width:575.98px) {
  .timeline .timeline-item:nth-child(2n+1):after,
  .timeline .timeline-item:nth-child(2n+1):before {
   right:auto;
   left:0
  }
 }
 .timeline .timeline-item:nth-child(2n+1):before {
  margin-right:-.5rem
 }
 .timeline .timeline-item:nth-child(2n+1):after {
  margin-right:-.0625rem
 }
 .timeline.dark .timeline-item:before {
  border:.0625rem solid $orange
 }
 .timeline.dark .timeline-item:after {
  background-color:$orange
 }