{{ define "main" }}
<section
  class="d-flex align-items-center position-relative dark-bg bg-size-cover bg-position-center overflow-hidden pt-6 pb-lg-5 cover">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row align-items-center justify-content-center py-3">
      <div class="col col-12 col-lg-8 justify-content-md-end">
        <div class="pt-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center text-lg-start">
          <img class="img-fluid cover-image" src="/images/mc-logo.png" alt="movement card logo" />
          <h1 class="display-4 text-light pb-2">The Movement Card</h1>
          <p class="h4 font-w-3 text-light opacity-70 line-height-base"> A unified repository for global movement rights
            and laws.</p>
          <a class="d-inline-flex align-items-center text-decoration-none mt-4 mb-5 button-transparent alig"
            href="/scotland" data-scroll>Read Your Rights!</a>
          <a class="d-inline-flex align-items-center text-decoration-none mt-4 mb-5 button-transparent" href="/contact"
            data-scroll>Get involved!</a>
          <hr class="hr-color mt-0 mb-5">
          <div class="row">
            <div class="col-sm-4 mb-4 mb-sm-0 text-center">
              <a href="scotland">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/scotland.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-2">Scotland</div>
              </a>
            </div>
            <div class="col-sm-4 mb-4 mb-sm-0 text-center">
              <a href="finland">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/finland.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">Finland</div>
              </a>
            </div>
            <div class="col-sm-4  mb-4 mb-sm-0 text-center">
              <a href="nz">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/new-zealand.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">New Zealand</div>
                <span class="badge rounded-pill bg-pink">New!</span>
              </a>
            </div>
            <div class="col-sm-4  mb-4 mb-sm-0 text-center">
              <a href="england">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/england.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">England</div>
                <span class="badge rounded-pill bg-pink">Coming Soon</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-8">
        <img class="img-fluid" src="/images/cover-cards.png" />
      </div>
    </div>
  </div>
</section>
{{ end }}
