{{ define "main" }}
<section class="d-flex align-items-center position-relative dark-bg bg-size-cover bg-position-center overflow-hidden pt-6 pb-lg-5 cover">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row align-items-center py-3">
      <div class="col-xl-8 col-lg-6 d-flex justify-content-end">
        <div class="pt-2 mx-auto mb-5 mb-lg-0 ms-lg-0 me-xl-7 text-center text-lg-start">
          <img class="img-fluid cover-image d-block" src="/images/mc-logo.png" alt="movement card logo" />
          <h1 class="display-4 text-light pb-2">The Movement Card</h1>
          <p class="h4 font-w-3 text-light opacity-70 line-height-base"> A unified repository for global movement rights and laws.</p>
            <a class="d-inline-flex align-items-center text-decoration-none mt-4 mb-5 button-transparent alig" href="/scotland" data-scroll>Read Your Rights!</a>
            <a class="d-inline-flex align-items-center text-decoration-none mt-4 mb-5 button-transparent" href="/contact" data-scroll>Get involved!</a>
            <hr class="hr-color mt-0 mb-5">
          <div class="row">
            <div class="col-sm-4 mb-4 mb-sm-0 text-center">
              <a href="scotland">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/scotland.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-2">Scotland</div>
              </a>
            </div>
            <div class="col-sm-4 mb-4 mb-sm-0 text-center">
              <a href="finland">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/finland.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">Finland</div>
              </a>
            </div>
            <div class="col-sm-4  mb-4 mb-sm-0 text-center">
              <a href="nz">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/new-zealand.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">New Zealand</div>
                <span class="badge rounded-pill bg-pink">Coming Soon</span>
              </a>
            </div>
            <div class="col-sm-4  mb-4 mb-sm-0 text-center">
              <a href="england">
                <div class="mb-1">
                  <img class="home-flag" src="images/flags/england.svg" />
                </div>
                <div class="h5 text-light fw-normal opacity-70 mb-1">England</div>
                <span class="badge rounded-pill bg-pink">Coming Soon</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <img class="img-fluid mx-auto d-block" src="/images/cover-cards.png" style="max-width: 920px;" />
      </div>
    </div>
  </div>
</section>


{{ end }}

{{ define "sidebar-prefooter" }}
<!-- <section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Security aware</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default</h2>
        <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section> -->
{{ end }}

{{ define "sidebar-footer" }}
<!-- <section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section> -->
{{ end }}
