

{{ define "main" }}
<!-- <section class="d-flex align-items-center position-relative overflow-hidden pt-6 pb-lg-5">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row align-items-center py-3">
      <div class="col-xl-8 col-lg-6 d-flex justify-content-end">
        <p>
          

Your freedom to move should equal your freedom to speak!
Clean, Simple & Elegant

Our goal is to have an option for as many locations as possible and we would love to hear from you if you have the knowledge or means to contribute!
The Movement Card front & back
The Movement Card front & back
Who's behind the project?
A collaboration between Ukemi and Parkour Outreach. We have now partnered with Parkour Earth too!

Ukemi promote activity in highly urbanised areas and encourage a healthier society through digital design, product creation, and community arts development.

Parkour Outreach is a community interest company seeking to encourage physical activity, health and well-being by exploring funding opportunities, collaborations, and supporting new and potential Parkour communities.

Parkour Earth is the International Federation for Parkour/Freerunning/Art du Déplacement. As such, it will be the custodian of the philosophy, integrity, and sovereignty of the sport internationally for and on behalf of the community.
        </p>
    </div>
  </div>
</section> -->

<section class="section">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-8 col-lg-8 col-xl-7 mb-5">
        <img class="organic-radius img-fluid pt-5 mt-5" src="/images/b-boy.jpg" alt="Break dancer holding pose in street">
      </div>
      <div class="col-md-12 col-lg-8 col-xl-8 text-md-left">
        <h1 class="h1 mb-5">Right To The City</h1>
        <p class="lead">Movement Card aims to educate and inform all who have interactions with people moving in the public domain. Whether that's you, your friends, the security guard, or even a police officer. With a Movement Card you have an instant educational resource at your disposal.</p>
        <p class="lead">The movement card is part resource, part research and part response - created to promote freedom of movement.</p>
        <p class="lead">It is a worldwide project started in Scotland through a collaboration between <strong>Ukemi</strong> and Parkour <strong>Outreach</strong>.</p>
        <p class="lead">
          Our goal is to have an option for as many locations as possible and we would love to hear from you if you have the knowledge or means to contribute!
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}


