{{ define "main" }}
<!-- 

Your freedom to move should equal your freedom to speak!
Clean, Simple & Elegant

Our goal is to have an option for as many locations as possible and we would love to hear from you if you have the knowledge or means to contribute!
The Movement Card front & back
The Movement Card front & back

-->

<!-- Header -->
<section class="section">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-8 col-lg-8 col-xl-7 mb-5">
        <img class="organic-radius img-fluid pt-5 mt-5" src="/images/b-boy.jpg"
          alt="Break dancer holding pose in street">
      </div>
      <div class="col-md-12 col-lg-8 col-xl-8 text-md-left">
        <h1 class="h1 mb-5 fw-light"><span class="fw-bold">Right</span> To The City</h1>
        <p class="lead">Movement Card aims to educate and inform all who have interactions with people moving in the
          public domain. Whether that's you, your friends, the security guard, or even a police officer. With a Movement
          Card you have an instant educational resource at your disposal.</p>
        <p class="lead">The movement card is part resource, part research and part response - created to promote freedom
          of movement.</p>
        <p class="lead">It is a worldwide project started in Scotland through a collaboration between
          <strong><a class="dark-link" href="https://ukemi.ninja">Ukemi</a></strong> and <strong><a class="dark-link"
              href="https://www.parkouroutreach.com/">Parkour
              Outreach</a></strong>.
        </p>
        <p class="lead">
          Our goal is to have an option for as many locations as possible and we would love to hear from you if you have
          the knowledge or means to contribute!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Partners -->
<section class="section pt-0">
  <div class="container pb-5">
    <div class="row text-center">
      <div class="col">
        <h2 class="h1 fw-light"><span class="fw-bold">Who's</span> responsible?</h2>
        <p class="lead">A collaboration between Ukemi and Parkour Outreach, and a partnership with Parkour Earth.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-4 text-start">
        <div class="icon-box mb-4">
          <!--  -->
          <h3 class="h5"><a class="dark-link" href="https://ukemi.ninja/">Ukemi</a></h3><span class="d-block">Ukemi
            promote activity in
            highly urbanised areas
            and encourage a healthier society through digital design, product creation, and community arts
            development.</span>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 text-start">
        <div class="icon-box mb-4">
          <!--  -->
          <h3 class="h5"><a class="dark-link" href="https://www.parkouroutreach.com/">Parkour Outreach</a></h3><span
            class="d-block">Parkour Outreach is a community
            interest company seeking to encourage physical activity, health and well-being by exploring funding
            opportunities, collaborations, and supporting new and potential Parkour communities.</span>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 text-start">
        <div class="icon-box mb-4">
          <!--  -->
          <h3 class="h5"><a class="dark-link" href="https://parkour.earth/">Parkour Earth</a></h3><span
            class="d-block">Parkour Earth is the International
            Federation for Parkour/Freerunning/Art du Déplacement. As such, it will be the custodian of the philosophy,
            integrity, and sovereignty of the sport internationally for and on behalf of the community.</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Timeline -->
<section class="section pt-0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="h1 fw-light"><span class="fw-bold">Project</span> history</h2>
      </div>
    </div>
    <div class="row justify-content-center mt-6">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="timeline dark px-3 px-sm-0">
            <div class="timeline-item">
              <h3 class="h4 mb-4">Concept</h3>
              <p>In 2014 Ukemi co-founder David Banks first conceptualised the Movement Card as part of the Many
                Movements collective. With fellow member Paul Sayer working on the design, Gordon Tsang handling the
                legal language and John Hall providing proofreading.</p>
              <p>The aim was to create a handy pocket-sized card
                that details a few basics regarding your right to practice parkour in Scotland.
                <img class="mt-2 img-fluid organic-radius" src="/images/original-card.jpg" alt="oringal card concept">
              </p>
            </div>
            <div class="timeline-item">
              <h3 class="h4 mb-4">Release</h3>
              <p>Having tested the concept locally, Ukemi adopted the project in colaboration with Parkour Outreach in
                2019. This adoption included a complete rebranding by Daniel Smith, a review of the laws, and a
                dedicated website that provides greater detail than the card.</p>
              <img class="mt-2 img-fluid organic-radius-2" src="/images/card-splash.jpg" alt="Card splash">
            </div>
            <div class="timeline-item">
              <h3 class="h4 mb-4">Expansion</h3>
              <p>Seeing success in launching the card in Scotland, the project attracted international interest leading
                to a partnership with parkour governing bodies Parkour Earth and ParkourUK to bring the card to other
                countries.</p>
              <p>So far, we have Scotland, Finland, New Zealand, and England involved. We would love to have more, so
                get in touch with us if you think you could help bring it to your country!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}