{{ define "main" }}

<!-- Contact -->
<section class="section">
  <div class="container pt-4 pb-5 py-lg-5">
    <div class="row text-center">
      <div class="col">
        <h2 class="h1 fw-light"><span class="fw-bold">Get</span> in touch!</h2>
        <p class="lead mb-0 pm-0">Get in touch with us by using the contact methods below.</p>
        <p>We usually respond within a few days.</p>
        <p class="mb-5 ">Currently we have no contact form, but you can reach us by email.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-6">
        <div class="card h-100 border-0 shadow-lg py-4" style="border-radius: 20px;">
          <div class="card-body text-center">
            <i class="fas fa-camera-retro m"></i><svg xmlns="http://www.w3.org/2000/svg"
              class="bi bi-envelope mb-4 text-secondary" viewBox="0 0 16 16" fill="currentColor" width="64" height="64">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
            </svg></i>
            <h3 class="h4 mb-2 mt-0">Email Addresses</h3>
            <ul class="list-unstyled fs-sm mb-0">
              <li><span class="me-1">General:</span><a class="nav-link-style"
                  href="mailto:hello@mvmnt-card.com">hello@mvmnt-card.com</a></li>
              <li><span class="me-1">Ukemi:</span><a class="nav-link-style"
                  href="mailto:founders@ukemi.ninja">founders@ukemi.ninja</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
